<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light stick-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img class="logo" src="https://i.ibb.co/ZHLxGW1/Festi-Beds-logos-white.png">
      </a>
      <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/create-festival">
              <button>Ajoutez votre festival</button>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"routerLink="/create-hebergement">
              <button>Ajoutez votre hébergement</button>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link login">
              <span class="login-btn">
                <button *ngIf="(currentAuthUser | async) as user; else elseBlock">
                  <i class="fa fa-user-circle-o account-icon" [matMenuTriggerFor]="menuDisconnect" style="background-color: white;"></i>&nbsp;
                  <mat-menu #menuDisconnect="matMenu">
                    <a href="/login" style="text-decoration: none; color:black;">
                      <button class="logout" mat-menu-item (click)="logout()">
                        Se déconnecter&nbsp;&nbsp;<i class="fa fa-sign-out" style="background-color: darkred;"></i>
                      </button>
                    </a>
                  </mat-menu>
                  <a [matMenuTriggerFor]="menuDisconnect" style="background-color: white; text-decoration:none; padding:8px;">
                    {{user.displayName}}
                  </a>
                </button>
                <ng-template #elseBlock>
                  <a routerLink="/login">
                    <button>
                      Mon compte
                    </button>
                  </a>
                </ng-template>
              </span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/panier">
              <button>
                <span>Panier</span>
                <div class="cart position-relative d-inline-flex" aria-label="View your shopping cart">
                  <i class="fas fa fa-shopping-cart fa-lg"></i>
                  <span class="cart-basket d-flex align-items-center justify-content-center">
                    {{ totalItems }}
                  </span>
                </div>
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<div class="footer">
  Copyright © 2022 FestiBeds™. Tous droits réservés.
</div>
